Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@audreyandoy 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


audreyandoy
/
L6unity_gitignore
1
0
1
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
L6unity_gitignore/.gitignore
@audreyandoy
audreyandoy logs
…
Latest commit d3ae17b 22 days ago
 History
 1 contributor
41 lines (39 sloc)  463 Bytes
  
###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
